<div class="d-flex align-items-center p-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 font-weight-normal">Note</h5>
  <div class="d-flex align-items-center ms-auto">
    <nav class="my-2 my-md-0">
      <a class="p-2 text-dark" routerLink="/">Home</a>
      <a class="p-2 text-dark" routerLink="Note">My notes</a>
      <a class="p-2 text-dark" href="#">About</a>
      <a class="p-2 text-dark" href="#">Account</a>
    </nav>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/Account/Login" class="btn btn-primary ms-3" href="#">Login</a>
      <a routerLink="/Account/Register" class="btn btn-outline-primary ms-3" href="#">Sign Up</a>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async)">
      <a class="btn btn-primary ms-3" href="#">Add note</a>
      <a (click)=logout() class="btn btn-outline-primary ms-3" href="#">Logout</a>
    </ng-container>
  </div>
</div>
