<div class="container">

  <div class="d-flex justify-content-between align-items-center my-4">
    <header class="flex-shrink-1">
      <span>Showing <strong>10</strong> of <strong>20</strong> Results</span>
    </header>

    <input class="form-control mx-2 flex-grow-1" placeholder="Search" type="text" style="max-width: 20rem">

    <div class="input-group flex-shrink-1" style="width: auto;">
    <span class="input-group-text">
      <i class="bi bi-sort-down"></i>
    </span>
      <select class="custom-select">
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div  *ngFor='let note of notes' class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">{{note.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">{{timeAgo(note.createdDate)}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
