<div class="container">

  <div class="d-flex justify-content-between align-items-center my-4">
    <header class="flex-shrink-1">
      <span>Showing <strong>{{(this.noteParams.pageNumber - 1) * this.noteParams.pageSize+1}} -
        {{this.noteParams.pageNumber * this.noteParams.pageSize
          > this.totalCount ? this.totalCount : this.noteParams.pageNumber*this.noteParams.pageSize
        }}
      </strong> of <strong>
        {{this.totalCount}}</strong> Results</span>
    </header>

    <div class="d-inline-flex align-items-center">
      <input (keyup.enter)="onSearch()" class="form-control mx-2 flex-grow-1" placeholder="Search" type="text" #search style="max-width: 20rem">
      <button (click)="onReset()" class="btn btn-outline-danger my-2">Reset</button>
    </div>


    <div class="input-group flex-shrink-1" style="width: auto;">
    <span class="input-group-text">
      <i class="bi bi-sort-down"></i>
    </span>
      <select class="custom-select" (change)="onSortSelected($any($event.target).value)">
        <option *ngFor="let sort of sortOptions"
                [value]="sort.value">{{sort.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div  *ngFor='let note of notes' class="col-4 mb-4">
      <app-note-item [note]="note"></app-note-item>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="this.totalCount"
      (pageChanged)="onPageChange($event)"
      [itemsPerPage]="this.noteParams.pageSize"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>


</div>
